<%# if @non_secure_page == true %>
  <!-- session.delet -->
<%# elsif current_user %> 
	<!-- <p>You are logged in as <%#<%= current_user["user_name"] %>%>.</p>  -->
<%#else%>
	<%# redirect "/login" %>
<%#end%>

<!-- ######################################## -->
<h1>Submit a new topic</h1>

<form class="topic" action="/topics/new_topic" method="post">
	<div class="input_row">
		<label for="new_topic">New Topic: </label>
		<input name="new_topic"/>
	</div>
	<div class="input_row">
		<label for="new_question">Submit a question(optional)</label>
		<textarea name="new_question"></textarea>
	</div>
	<div class="input_row">
		<input type="submit" value="Contribute New Topic"/>
	</div>
</form>