<%# if @non_secure_page == true %>
  <!-- session.delet -->
<%# elsif current_user %> 
	<!-- <p>You are logged in as <%#<%= current_user["user_name"] %>%>.</p>  -->
<%#else%>
	<%# redirect "/login" %>
<%#end%>

<!-- ######################################## -->
<h1> Sign Up! </h1>


<form class="signup" action="/signup" method="post">
	<div class="user_name">
		<label for="user_name">User: </label>
		<input type="text" name="user_name" val="<%= @user_name%>"/>
	</div>
	<div class="password">
		<label for="question">Password: </label>
		<input type="password" name="password"/>
	</div>
	<div>
		<input type="submit" value="Sign Up"/>
	</div>
</form>



