<%# if @non_secure_page == true %>
  <!-- session.delet -->
<%# elsif current_user %> 
	<!-- <p>You are logged in as <%#<%= current_user["user_name"] %>%>.</p>  -->
<%#else%>
	<%# redirect "/login" %>
<%#end%>

<!-- ######################################## -->
<div class="banner">
<%if current_user %>  <!--##################-->

<h2 class="welcome"> Welcome <%= current_user["user_name"] %><h2>
<%end%>

<h4 class="index-instr">Choose or create a topic.</h4>
</div>




<!-- if option box value is sort by comments, then -->
<%# @topics_by_comments.each do |topic| %>
	<p><a href="<%# topic %>"></a></p>
<%#end%>
<!-- else/elsif option box value is sort by upvotes, then-->
<%# @topics_by_upvotes.each do |topic| %>
	<p><a href="<%# topic %>"></a></p>
<%#end%>
<div class="topic-list">
<% @topics.each do |topic| %>

	<p><a class="a-topics" href="/topics/<%= topic["id"] %>"><%= topic["topic"] %></a></p>
<%end%>
</div>
<%if current_user %>  <!--##################-->

<form class="topic" action="/topics/new_topic" method="post">
	<div class="input_row">
		<label for="new_topic">New Topic: </label>
		<textarea class="index-new-topic" name="new_topic"></textarea>
	</div>
	<!-- <div class="input_row">
		<label for="new_question">Submit a question(optional)</label>
		<textarea name="new_question"></textarea>
	</div> -->
	<div class="input_row">
		<input type="submit" value="Contribute New Topic"/>
	</div>
</form>
<%end%> <!-- ################# -->

